<!DOCTYPE html><!--[if lte IE 8]><html class='lt-ie9 no-js' lang='en'><![endif]-->
<!--[if gt IE 8]><!--><html class=' no-js' lang='en'><!--<![endif]-->
<head>
  <!-- Glad you're a stalker.-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Festus Kiprop &middot; web developer & designer</title>
  <meta name="description" content="Portfolio &amp; personal website for festus kiprop, software engineer">
  <meta name="keywords" content="festus, kiprop, personal, portfolio, software, developer, designer, front, back, end, node, javascript, html, programmer">
  <meta name="author" content="Festus Kiprop">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- Typekit font load-->
  <script src="//use.typekit.net/mxz4qjh.js"></script>
  <script>
    try{Typekit.load();}catch(e){}
    
  </script>
  <!-- build:css(client) styles/global.css-->
  <!-- bower:css-->
  <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
  <!-- endbower-->
  <!-- endbuild-->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- build:js(client) scripts/modernizr.js-->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
  <!-- build:js(client) scripts/shims.js--><!--[if lt IE 9]>
  <script src="/bower_components/consolelog/consolelog.js"></script>
  <script src="/bower_components/html5shiv/dist/html5shiv-printshiv.js"></script><![endif]-->
  <!-- endbuild-->
</head>
<body>
  <!--[if lte IE 7]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/''>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- build:js(client) scripts/global.js-->
  <!-- bower:js-->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
  <script src="/bower_components/respond/dest/respond.src.js"></script>
  <!-- endbower-->
  <!-- endbuild-->
  <!-- build:js(client) scripts/main.js-->
  <!-- [injector:js]-->
  <!-- [endinjector]-->
  <script src="/scripts/main.js"></script>
  <!-- endbuild-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-49362865-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>